.contact__list {
  display: flex;
  margin-left: auto;
}

.contact__item:not(:last-child) {
  margin-right: 30px;
}
.contact__link {
  display: flex;
  align-items: center;
  justify-content: center;

  color: $primary-text-color;

  padding-top: 32px;
  padding-bottom: 32px;
}

.contact__icon.envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.contact__icon.smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;

  fill: currentColor;
}

.contact__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// !!!!!!! Переделать!
.contact__link:hover .contact__icon,
.contact__link:focus .contact__icon,
.contact__link:hover .contact__icon,
.contact__link:focus .contact__icon {
  fill: $accent-color;
}
