/* .form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
} */

.form-title {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: $title-text-color;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field:nth-child(5) {
  margin-bottom: 20px;
}

.form-label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-input-thumb {
  position: relative;
}

.form-input {
  width: 100%;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-input:hover,
.form-message:hover,
.form-message:focus {
  outline: none;
  border-color: $accent-color;
}

.form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;

  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover + .form-icon,
.form-input:focus + .form-icon {
  fill: $accent-color;
}

.form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-label-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71px;
}

.form-label-checkbox::before {
  content: '';
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  background-image: url(../images/checkbox-off.svg);

  cursor: pointer;
}

.form-input-checkbox:checked + .form-label-checkbox::before {
  background-image: url(../images/icon-check.svg);
}

/* .form-label-checkbox:focus + .form-label-checkbox::before {
  } */

.form-policy-link {
  position: relative;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  color: $accent-color;
}

.form-policy-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 3px;

  width: 100%;
  height: 1px;

  background-color: #2196f3;
}

.form-button {
  margin: 0 auto;
}
